@import "tailwindcss";


body {
    background-color: rgb(31, 31, 31);
    overflow: hidden;
}

.scrollbar-custom::-webkit-scrollbar {
    width: 1px;
}

.scrollbar-custom::-webkit-scrollbar-track {
    background: #1f1f1f;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: rgb(216, 167, 114);
    border-radius: 9999px;
    border: 2px solid #1f1f1f;
}